@import './theme.css';
@import './fonts.css';
@import './tailwind.css';

/* Global Overrides and Special Layouts */
:root {
  --app-max-width: 1400px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fix for Webkit autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--color-background, #DADED8) inset !important;
  -webkit-text-fill-color: var(--color-primary, #2C3424) !important;
  transition: background-color 5000s ease-in-out 0s;
}
