@import './theme.css';
@import './fonts.css';
@import './tailwind.css';

/* Global Overrides and Special Layouts */
:root {
  --app-max-width: 1400px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fix for Webkit autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--primary) !important;
}
